.idea
/vendor/
node_modules/
npm-debug.log
yarn-error.log
storage/logs
storage/framework/cache/data

# Laravel 5 & Lumen specific
public/storage
storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
/resources/admin/dist/

