.idea
/vendor/
node_modules/
npm-debug.log
yarn-error.log
storage/logs
storage/framework/cache/data
composer.lock
package-lock.json
alipayCerts
laravel-echo-server.json
laravel-echo-server.lock

# Laravel 5 & Lumen specific
public/storage
.env
cp.sh