@import "app";

.l-header{
  color: #b9c8e0;
  width: 100%;
  background: $gray-800;
}

.l-foot{
  padding: 20px 0;
  color: #b9c8e0;
  background: $gray-800;
  .l-special-remark{
    .l-remark-title {
      font-size: 20px;
    }
    .l-remark-content{

    }
  }
}
.l-row{
  max-width: 1200px;
  margin: 0 auto;
}
.l-relative{
  position: relative;
}
.l-content{
  &.l-content-bg{
    height: calc(100vh - 173px);
    //background: url('https://clubimg.club.vmall.com/data/attachment/forum/201904/14/191355agxsmq149gpvdczc.jpg') no-repeat scroll center / cover;
    //background: url('https://uploadbeta.com/api/pictures/random/') no-repeat scroll center / cover;
    background: linear-gradient(45deg,#6e436c 25%,#2a4584 75%);
  }
  .l-content-inner{
    font-size: 16px;
    line-height: 30px;
    background: rgba(255,255, 255, .7);
    img {
      max-width: 100%!important;
    }
    &.l-fixed-height{
      height: calc(100vh - 173px);
    }
    .l-block-index{
      //display: none;
      .l-words{
        margin: 0 auto;
        height: 100%;
        text-align: center;
        .l-title{
          color: $gray-800;
          font-size: 30px;
          padding-top:30vh;
        }
        .l-sub-title{
          padding: 10px;
          display: inline-block;
          margin: 50px auto 0;
          color: $gray-900;
        }
      }
    }
    .l-block-content{
      padding-top: 20px;
      .l-content-title{
        font-size: 30px;
        color: #262626;
        text-align: justify;
        line-height: 42px;
      }
    }

  }
}
