* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
  outline: none;
  list-style: none;
}

.iconfont{
  font-family: iconfont;
  font-style: normal;
}

.el-button{
  padding: 12px 20px;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.l-flex-row{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.el-submenu__title, .el-menu-item{
  font-size: 17px;
}

.router-link-active{
  cursor: pointer;
}

.el-table .category-row {
  background: oldlace;
}

.el-table .content-row {
  background: #f0f9eb;
}

.el-tabs__item {
  font-size: 16px;
  font-weight: 500;
}

.l-block{
  width: 100%;
  overflow: hidden;
  background: #FFF;
  overflow: visible;
  color: #606266;
  box-sizing: border-box;
  padding-left: 20px;

  .l-block-header{
    padding: 10px 0 10px;
    border-bottom: 1px solid #EBEEF5;
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    box-sizing: border-box;
    line-height: 34px;
  }
  .l-block-body{
    padding: 20px 0 20px 0;
  }
  .l-block-bottom{}
}

.top-buttons{
  margin-bottom: 20px;
}

.text-center{
  text-align: center;
}

.l-inline-btn{
  display: inline-block;
  min-width: 1px;
}

.l-delimiter{
  height: 18px;
}

.l-mb-22{
  margin-bottom: 22px;
}
.l-mt-15{
  margin-top: 15px;
}
.l-w-50{
  width: 50px;
}

.l-w-60{
  width: 60px;
}

/*修复.el-form-item__content{line-height: 40px;}导致编辑器按钮高度过高*/
.edui-editor-toolbarbox{line-height: 20px;}

.l-go-back{
  display: inline-block;
  cursor: pointer;
}

.l-channel-color{
  color: orange;
}

.l-cursor{
  cursor: pointer;
}

.el-table td{
  padding: 6px 0;
}

/*控制滚动条 start*/

::-webkit-scrollbar {
  width:5px;
  height:5px;
}

::-webkit-scrollbar-track {
  width: 6px;
  background-color:#f8f8f8;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius:2em;
}

::-webkit-scrollbar-thumb {
  background-color:#ccc;
  background-clip:padding-box;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius:2em;
}

::-webkit-scrollbar-thumb:hover {
  background-color:#888;
}
/*控制滚动条 end*/

.l-flex{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
}

a:link,a:visited,a:active{
  color: #2d2d2d;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
.l-lighter{
  font-weight: lighter;
}
/*breadcrumb style from bootstrap3.4.1*/
.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  /*background-color: #f5f5f5;*/
  border-radius: 4px;
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}
.breadcrumb > .active {
  color: #777777;
}