@font-face {
  font-family: 'iconfont';  /* project id 1296820 */
  src: url('//at.alicdn.com/t/font_1296820_8nf632zrxir.eot');
  src: url('//at.alicdn.com/t/font_1296820_8nf632zrxir.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1296820_8nf632zrxir.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1296820_8nf632zrxir.woff') format('woff'),
  url('//at.alicdn.com/t/font_1296820_8nf632zrxir.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1296820_8nf632zrxir.svg#iconfont') format('svg');
}





.iconfont{
  font-family: iconfont;
  font-style: normal;
}
