@font-face {
  font-family: 'iconfont';  /* project id 1296820 */
  src: url('//at.alicdn.com/t/font_1296820_54hbckipgu.eot');
  src: url('//at.alicdn.com/t/font_1296820_54hbckipgu.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1296820_54hbckipgu.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1296820_54hbckipgu.woff') format('woff'),
  url('//at.alicdn.com/t/font_1296820_54hbckipgu.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1296820_54hbckipgu.svg#iconfont') format('svg');
}