@font-face {
  font-family: 'iconfont';  /* project id 1296820 */
  src: url('//at.alicdn.com/t/font_1296820_qg8blg679i.eot');
  src: url('//at.alicdn.com/t/font_1296820_qg8blg679i.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1296820_qg8blg679i.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1296820_qg8blg679i.woff') format('woff'),
  url('//at.alicdn.com/t/font_1296820_qg8blg679i.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1296820_qg8blg679i.svg#iconfont') format('svg');
}
