@font-face {
  font-family: 'iconfont';  /* project id 1296820 */
  src: url('//at.alicdn.com/t/font_1296820_5r75c32kayt.eot');
  src: url('//at.alicdn.com/t/font_1296820_5r75c32kayt.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1296820_5r75c32kayt.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1296820_5r75c32kayt.woff') format('woff'),
  url('//at.alicdn.com/t/font_1296820_5r75c32kayt.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1296820_5r75c32kayt.svg#iconfont') format('svg');
}
.iconfont{
  font-family: iconfont;
  font-style: normal;
}