
.login-container{
  position: absolute;
  width: 100%;
  height: 100%;
  //background: #188ae2;
  //background: url('/static/images/auth-page-bg.jpg') no-repeat scroll center/cover;
  background-image: linear-gradient(45deg,#6e436c 25%,#2a4584 75%);
  //background-image: linear-gradient(45deg,#2a4584 25%,#6e436c 75%);
  //background-image: linear-gradient(45deg,#FF2D20 25%,#409EFF 75%);
  //background: url('https://clubimg.club.vmall.com/data/attachment/forum/201904/14/191355agxsmq149gpvdczc.jpg') no-repeat scroll center / cover;
  //background: url('https://uploadbeta.com/api/pictures/random/') no-repeat scroll center / cover;

}
.login-inner-box{
  position:relative;
  //max-width: 1000px;
  //width: 100%;
  //height: 100%;
  margin: 0 auto;
  text-align: center;
}
.art-canvas{
  position: absolute;
  top: 50%;;
  left: 50%;
  margin-top: -280px;
  margin-left: -500px
}
.login-img{
  margin-bottom: 50px;
  user-select: none;
}
.login-form{
  /*width: 1000px;
  height: 310px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -155px;
  margin-left: -500px*/
  margin-top: 20vh;
  background: rgba(255,255,255,.2);
  padding: 50px 0;
  border-radius: 4px;
}

.login-input{
  width:320px;
  height: 44px;
  line-height: 44px;
  border:none;
  border-radius: 4px;
  padding-left:30px;
  font-size: 14px;
  margin-bottom: 24px;

}
.login-btn{
  line-height: 1;
  padding: 0;
  //background: #ebcd41;
  //color: #2d2d2d;
}
.login-btn:hover{
  //background: #38c172 !important;
  //color: #000 !important;
}
.login-btn:focus{
  //background: #fee300 !important;
  //color: #000 !important;
}






.fixed-bar{
  width: 100%;
  font-size: 12px;
  position: fixed;
  bottom: 24px;
  z-index: 99;
  color: #0871c2;
  text-align:center;
}
.fixed-bar p{
  margin-bottom:12px;
  user-select: none;
}

@media screen and (max-height:500px) {
  .fixed-bar{
    display: none;
  }
}
