.login-container{
  background:linear-gradient(45deg, #6e436c 25%, #2a4584 75%);
  .login-inner{
    width: 100vw;
    height: 100vh;
    background: rgba(255,255,255,.7);
    .login-inner-box{
      position:relative;
      margin: 0 auto;
      text-align: center;
      .login-form{
        margin-top: 20vh;
        background: rgba(255,255,255,.2);
        padding: 50px 0;
        border-radius: 4px;
        .login-input{
          height: 44px;
          line-height: 44px;
          border:none;
          border-radius: 4px;
          padding-left:30px;
          font-size: 14px;
          margin-bottom: 24px;
        }
        .login-btn{
          line-height: 1;
          padding: 0;
        }
        .login-btn:hover{}
        .login-btn:focus{}
      }
    }
  }
}



.fixed-bar{
  width: 100%;
  font-size: 12px;
  position: fixed;
  bottom: 24px;
  z-index: 99;
  color: #0871c2;
  text-align:center;
  p{
    margin-bottom:12px;
    user-select: none;
  }
}

@media screen and (max-height:500px) {
  .fixed-bar{
    display: none;
  }
}
