@font-face {
    font-family: 'iconfont';  /* project id 1872714 */
    src: url('//at.alicdn.com/t/font_1872714_wugg6skccjm.eot');
    src: url('//at.alicdn.com/t/font_1872714_wugg6skccjm.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1872714_wugg6skccjm.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1872714_wugg6skccjm.woff') format('woff'),
    url('//at.alicdn.com/t/font_1872714_wugg6skccjm.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1872714_wugg6skccjm.svg#iconfont') format('svg');
}